<!DOCTYPE html>
<html>
<head>
	<title>Aleo login system</title>
</head>
<body>
	<h1> Welcome to my app </h1>
	<p> If you have login tokens, sign in here <p>
        <form method = "POST" action = "{{url_for('login')}}">
		<label for="cert"> Login certificate:<br> </label>
                <textarea type = "text" name = "cert" id = "cert" style="height:64px; width: 600px;"></textarea>
                <button type = "submit"> Sign in </button>
        </form>

	<p> No login token? Sign up here </p>
	<form method = "POST" action = "{{url_for('sign_up')}}">
		<label for="address"> Aleo Address: </label>
		<input type = "text" name = "address" id = "address" style="width: 440px;">

		<button type = "submit"> Sign up </button>
	</form>

    {% if result %}
	<h1> Login succeeds. </h1>
    {% elif error %}
	<h1> {{error}} </h1>
    {% else %}
    {% endif %}

    {% if token %}
	<h1> Please save the following cipher token to wallet.</h1>
	<p> {{token}} </p>
    {% else %}
    {% endif %}
</body>
</html>
