<!DOCTYPE html>
<html>
<head>
	<title>Restaurant</title>
</head>
<body style="background-color:rgb(102,204,204)">
	<h1> Welcome to my restaurant </h1>

		<label for = "date"> Date: <br> </label>
                <input type = "text" name = "date" id = "date" style="left: 200px;">
		<label for = "consumer"> <br>Consumer:<br> </label>
                <input type = "text" name = "consumer" id = "consumer" style="width: 450px;">
		<label for="amount"><br> Amount: <br></label>
                <input type = "text" name = "amount" id = "amount">
		<label for="category"> <br><br> Category: <br></label>
                <select id = "categoryopt" onchange="sendCategorySelection()">
                    <option>-Please select-</option>
                    <option> Meal </option>
                    <option> Travel </option>
                    <option> Purchase </option>
                    <option> Medical </option>
                    <option> Lease </option>
                    <option> Transport </option>
                    <option> Other </option>
                </select>
		<label for = "company"> <br><br> Company: <br></label>
                <input type = "text" name = "company" id = "company" style="width: 450px;">
		<label for="dep"><br><br> Department: <br> </label>
                <select id = "depopt" onchange="sendDepartmentSelection()">
                        <option value = 0>-Please select-</option>
                        <option value = 1> Human resource </option>
                        <option value = 2> Administrative </option>
                        <option value = 3> Market </option>
                        <option value = 4> Research and development </option>
                        <option value = 5> CEO office </option>
                        <option value = 6> Other </option>
                </select>
		<label for="approver"><br><br> First approver: <br></label>
                <input type= "text" name = "approver" id = "approver" style="width: 450px;">
		<br><br>
                <button onclick="pay()" style="width: 160px;"> Pay </button>
                <label for="receipt" name = "receipt" id = "receipt"> <br> </label>

        <script>
            function sendCategorySelection() {
                var selectedIndex = document.getElementById("categoryopt").selectedIndex;
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/select_category", true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        // process server response 
                    }
                };
                xhr.send("index=" + selectedIndex);
            }

            function sendDepartmentSelection() {
                var selectedIndex = document.getElementById("depopt").selectedIndex;
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/select_department", true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        // process server response
                    }
                };
                xhr.send("index=" + selectedIndex);
            }

            function pay() {
                var datetxt = document.getElementById("date").value;
                var consumer = document.getElementById("consumer").value;
                var amount = document.getElementById("amount").value;
                var company = document.getElementById("company").value;
                var approver = document.getElementById("approver").value;
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/pay", true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        console.log(xhr.responseText);
                        obj = JSON.parse(xhr.responseText);
                        tip = obj['error'];
                        var lab = document.getElementById("receipt");
                        if (tip == '') {
                            tip = "You can use the following receipt to reimburse now.";
                            lab.innerHTML = '<br>' + tip + '<br>' + obj['receipt'];
			} else {
                            lab.innerHTML = '<br>' + tip;
                        }
                    }
                };
                xhr.send("date=" + encodeURIComponent(datetxt) + 
                         "&consumer=" + encodeURIComponent(consumer) +
                         "&amount=" + encodeURIComponent(amount) +
                         "&company=" + encodeURIComponent(company) +
                         "&approver=" + encodeURIComponent(approver));
                var lab = document.getElementById("receipt");
                lab.innerHTML = '<br><br>' +  'Waiting...';
            }

        </script>

    {% if error %}
	<h1> {{error}} </h1>
    {% else %}
    {% endif %}

</body>
</html>
